@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Restauramos SÓLO los íconos, ya que seguimos usando las clases "pi pi-..." */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}